/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --white:#ffffff;
    --orange:#ed563a;
    --heading:#242d39;
    --text:#7d7d7d;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
display: flex;
justify-content: center;
align-items: center;
}
.heading{
    background-color: rgba(102, 109, 117,0.6);
    color: var(--white);
    text-transform: uppercase;
    padding: 16px 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
h3{
    font-size: 36px;
    font-weight: 800;
}
.heading span{
    color: var(--orange);
}
.links a{
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
    margin-left: 40px;
}
.links .active{
    color: var(--orange);
}
a:hover{
    color: var(--orange);
}
.btn{
    background-color: var(--orange);
    padding: 10px 16px;
    font-weight: 300;
}
.btn:hover{
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    opacity: 0.8;
    color: white;
}

figure video{
    width: 100%;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 7px;
    right: 0;
    background-color: rgba(52, 57, 62, 0.6);
}
.gym-heading{
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}
.btn-primary{
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}
h4{
    font-size: 24px;
    font-weight: 600;
}
h1{
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 20px;
}
h1 span{
    color: var(--orange);
}
.relative{
    position: relative;
}
.program-section{
    background-color: var(--white);
    padding: 100px 0;
    color: var(--heading);
    text-align: center;
}
h5{
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
}

.line-curve{
    padding: 24px 0;
}
.orange{
    color: var(--orange);
}
.text{
    font-size: 18px;
    color: var(--text);
}
.heading-section p{
    width: 50%;
    margin: 0 auto;
}
.flex-47{
    flex: 0 1 47%;
}
.program-types{
    margin: 100px 0;
}
.flex-start{
    align-items: flex-start;
}
h6{
    font-size: 16px;
    font-weight: 600;
}
.program-types p{
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
} 
.content{
    text-align: left;
    margin-left: 40px;
    font-size: 14px;
}
.heading-section{
    text-align: center;
}
.program-types a{
    color: var(--orange);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
} 
.program-types a:hover{
    text-decoration: underline;
}
.wrap{
    flex-wrap: wrap;
}
.margin{
    margin-bottom: 30px;
}
.member{
    color: var(--white);
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
.bg-img{
    background: url("./assets/cta-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 121px 0;
}
.bg-img h2{
    font-size: 30px;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
}
.bg-img p{
    color: var(--white);
    font-weight: 300;
    padding: 20px 0;
}
.class-type{
    padding: 70px 0;
}
.aside-box{
    background-color: var(--white);
    padding: 34px;
    box-shadow: 0px 0px 20px 8px #f5f5f5;
    margin-bottom: 28px;
}
.aside-box img{
    vertical-align: bottom;
}
.aside-box h6{
font-size: 24px;
font-weight: 600;
display: inline-block;
margin-left: 20px;
}
.btn a{
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;

}
.btn-secondary{
    padding: 28px;
    border-radius: 10px;
}
.flex-65{
    flex: 0 1 65%;
}
.gym-img{
    width: 100%;
    border-radius: 8px;
}
.left{
    text-align: left;
}
.margin{
margin: 20px 0;
}
.img-article h6{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.bg-img2{
    background: url("./assets/schedule-bg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 900px;
}
.schedule-section{
    color: var(--white);
    text-align: center;
}
.schedule-section p{
    color: var(--white);
}
.schedule-section .heading-section{
    padding-top: 100px;
}
.days-link{
    margin: 40px 0;
}
.days-link a{
    text-decoration: none;
    color: var(--white);
    margin:10px;
}
.days-link .active{
    color: var(--orange);
}
.days-link a:hover{
    color: var(--orange);
}
.flex-31{
    flex: 0 1 31%;
}
.trainer {
    margin-top: 80px;
}
.article-trainer{
    background-color: var(--white);
    padding: 30px;
    box-shadow: 0px 0px 20px 8px #f5f5f5;
}
.article-trainer h5{
    font-weight: 600;
    font-size: 20px;
    margin: 12px 0;
}
.article-trainer h6{
    font-size: 14px;
    color: var(--orange);
}
.article-trainer .text{
    margin: 10px 0;
}
.article-trainer a{
color: #242d39;
margin-right: 20px;
}
.article-trainer a:hover{
    color: var(--orange);
}
.flex-links{
    justify-content: unset;
}
.flexible-img{
    width: 100%;
}
.bg-img3{
    background: url("./assets/contact-bg.jpg") no-repeat center;
    background-size: cover;
    height: 600px;
    width: 740px
}
.form-detail{
    background-color: var(--white);
    padding: 24px;
    width: 88%;
    position: absolute;
    right: 27px;
    bottom: 100px;
    border-radius: 8px;
}

.form-control{
    display: block;
    width: 100%;
    background-color:transparent;
    font-size: 16px;
    border: 0;
    color: #7c7c7c;
    outline: 0;
    padding: 20px;
    padding: 15px 11px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #dddddd;
    font-weight: 200;
    
}
.send-button{
    margin-top: 20px;
}
.required:after {
    content:" *";
    color: red;
  }
.footer{
      color:#242d39;
      text-align: center;
      font-size: 14px;
      padding: 30px;
  }
table,td{
    border: 1px solid var(--white);
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
} 
.juustify-content{
    justify-content: center;
}


